.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  height: 700px;
  width: 500px;
  background-color: rgb(36, 31, 31);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  border-radius: 25px;
  border-color: lavender;
  border-style: double;
  border-width: 10px;
}
.header {
  font-family: fantasy;
  color: whitesmoke;
  margin-top: 40px;
  margin-bottom: 50px;
}
.button {
  background-color: ;
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input {
  border-radius: 20px;
  height: 35px;
  width: 200px;
  border-color: white;
  border-style: solid;
  background-color: rgb(36, 31, 31);
  color: white;
  font-family: fantasy;
  font-size: 25px;
  font-weight: 800;
}
.submit {
  font-family: fantasy;
  height: 35px;
  width: 100px;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 52px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(36, 31, 31);
  color: white;
  border-style: solid;
  border-width: 3px;
}
.list {
  color: white;
  height: 400px;
  width: 300pxpx;
  background-color: rgb(36, 31, 31);
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: fantasy;
}
.delete {
  color: white;
  background-color: black;
  border-radius: 25px;
  font-weight: 900;
  margin-left: 15px;
}
